<!DOCTYPE html>
<html ng-app="pagina">
	<head>
		<title>Formulario de productos</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="lib/boo/css/bootstrap.css">
		<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
	    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
	    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>
	</head>
	<body ng-controller="productosCtr">

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 centradoimagen">
					<img src="images/logo.png">
				</div>
				<div class="col-md-6 formulario">
					<form>
					  <div class="form-group">
					    <label for="exampleInputEmail1" class="f1">Codigo</label>
					    <input type="text" class="form-control" ng-model="producto.codigo">
					    <small class="form-text text-muted f2">Ingrese el cogio unico del producto</small>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1" class="f1">Nombre</label>
					    <input type="text" class="form-control"ng-model="producto.nombre">
					    <small class="form-text text-muted f2">Ingrese el nombre del producto</small>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1" class="f1">Precio</label>
					    <input type="number" class="form-control" ng-model="producto.precio">
					    <small class="form-text text-muted f2">Ingrese el Precio del producto</small>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1" class="f1">Descripción</label>
					    <input type="text" class="form-control" ng-model="producto.Descripcion">
					    <small class="form-text text-muted f2">Ingrese una pequeña descripción del producto</small>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1" class="cl">Categoria</label>
					    	</br>
					   		<select ng-model="producto.categoria" class="listad">
					   			<option value="tv y videos">Tv Y Videos</option>
					   			<option value="celulares">Celulares</option>
					   			<option value="linea blanca">Linea Blanca</option>
					   			<option value="videojuegos">Video Juegos</option>
					   			<option value="electrodomesticos">Electrodomesticos</option>
					   			<option value="computadoras y tablets">Computadoras y Tablets</option>
					   			<option value="audio">Audio</option>
					   			<option value="audio para vehiculos">Audio Para Vehiculos</option>
					   			<option value="camaras y drones">Camaras y Drones</option>
					   			<option value="audifonos y bocinas">Audifonos Y Bocinas</option>
					   			<option value="prendas electronicas">Prendas Elentronicas</option>
					   			<option value="cuidado personal">Cuidado Personal</option>
					   			<option value="ambientadores">Ambientadores</option>
					   			<option value="hogar inteligente">Hogar Inteligente</option>
					   			<option value="contenido digital">Contenido Digital</option>
					   			<option value="protectores de voltaje">Protectores de Voltaje</option>
					   			<option value="telefonos fijos">Telefonos Fijos</option>
					   			<option value="bicicletas electronicas">Bicicletas Electronicas</option>
					   			<option value="hogar">Hogar</option>
					   			<option value="paneles solares">Paneles Solares</option>
					   		</select>
					    <small class="form-text text-muted f2">Ingrese en que Categoria desea ingresar su producto (sin espacios y en minusculas)</small>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1" class="f1">Cantidad</label>
					    <input type="number" class="form-control" ng-model="producto.cantidad">
					    <small class="form-text text-muted f2">Ingrese la cantidad de productos</small>
					  </div>
					  <button type="button" class="btn btn-light" ng-click="almacenar(producto)">Registrar</button>
					</form>
				</div>
			</div>
		</div>












		<script src="lib/boo/js/bootstrap.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>